#p5Container {
  padding: 0px;
  margin-top: 60px;
}

#p5Canvas {
  text-align: center;
}

#graph {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 300px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}
