body {
  padding: 0;
  margin: 0;
  position: fixed;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

.upper-bar {
  height: 10vh;
}

.upper-bar-content {
  height: 100%;
}

.simuation-title {
  padding: 0;
}

#p5Canvas {
  height: 90vh;
}

#mainSpectrumGraphParent {
  height: 80vh;
}

#mainSpectrumGraph0 {
  position: absolute;
  /* グラフが画像の上に表示されるように */
  width: 100%;
  /* 親要素に合わせて幅を100%に設定 */
  height: 100%;
  /* 親要素に合わせて高さを100%に設定 */
}

#mainSpectrumGraph {
}

#color {
  height: 10vh;
  font-size: 16px;
}

.color-display {
  height: 5vh;
}
