#p5Container {
  padding: 0px;
  margin-top: 60px;
  overflow: hidden;
  height: calc(100vh - 60px);
}

#p5Canvas {
  text-align: center;
  height: 50%;
}

#graph {
  background-color: white;
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
